body {
  touch-action: pan-y; /* disable zoom on iOS > v13 https://dev.to/jasperreddin/disabling-viewport-zoom-on-ios-14-web-browsers-l13*/
  background-color: #1F1F1F; /* BGK_CLR */
  color: white; /*TEXT_CLR */
  
}


a {
  color: white; /*TEXT_CLR */
}

.hide{
  display: none;
}

.stopfloat{
  clear:both;
}

.br {
  margin-bottom: 40px;
}

/* MAIN ***************************** */

#busy {
    position: fixed;
    top: 30%;
    left: 40%;
    width: 100px;
    height: 100px; 
    background-image: url('./img/busy.gif');
    background-size: 100px; 
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    display:none
}

#main {
  padding-top: 40px; /* to avoid overlap with header */
  padding-bottom: 50px; /* to avoid overlap with footer */
  font-size: larger;
}

/* HEADER ***************************** */

#header {
  display:  block;
  position:  fixed;
  top:  0;
  left:  0;
  right: 0;
  height: auto;
  background-color: #161616; /* DARK_BGK_CLR */
  border: 0.5px solid black; /* BORDER_CLR */ 
  text-shadow: 1px 1px 2px black;
}
#header div {
  float:  left;
  width: 20%;
  margin:  0px;
  height: 40px;
  text-align: center;
}

#header div.h1 {
  width: 59%;
  font-size: xx-large;
}

#header div.ha {

}

#header div a {
  display: inline-flex;
  text-decoration: none;
  height: 25px;
  margin-top: 5px;
  padding: 5px 15px 0px 15px; /* top right bottom left */
  background-color: #76084B;
  border:  0.5px solid black;
  text-align: center;
  vertical-align: bottom;
  border-radius: 10px;
}

#header div a[name=left] {
  text-align: left;
}

#header div a[name=right] {
  float:  right ;
  
}

/* NAVBAR ***************************** */

#navbar {
  z-index: 1000;
  position: fixed;
  bottom:  0;
  left:  0;
  right:  0;
  height:  auto;
  text-shadow: 1px 1px 2px black;
}

#navbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#navbar ul li {
  float:  left;
  margin: 0px;
  padding:  0px;
  border: 0.5px solid black; /* BORDER_CLR */
  width: 25%;
  background-color: #161616; /* DARK_BGK_CLR */
}

#navbar li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

/* Buttons ***************************** */

.btn_fullwidth{
  display: block;
  padding: 10px;
  width: 100%;
  background-color: #161616; /* DARK_BGK_CLR */
  color: white; /*TEXT_CLR */
  font-size: larger;
}

.btn_red {
  background-color: #76084B;
  border: 1px solid black;
}

.cs_highl_btn{
    background:  #76084B !important;
}

/* Lists ***************************** */

#listchoice {
  width: 100%;
  border: 0.5px solid black; /* BORDER_CLR */
  margin-bottom: 20px;
}

#listchoice a{
  display: block;
  padding: 10px;
  width: 50%;
  text-decoration: none;
  text-align: center;
}

ul {
  padding:  0px;
  margin:  0px;
}

ul.list{
  list-style-type: none;
}

ul.list li{
  border: 0.5px solid black; /* BORDER_CLR */
  background-color: #262626; /* LIGHT_BGK_CLR */
  width: 100%;/* TODO add background pick on the right, an arrow */
  background-image: url("./img/carat-r-white.svg");
  background-repeat: no-repeat;
  background-position: 98% 50%;
  background-size: 10px;
}

ul.list a{
  display: block;
  text-decoration: none;
  width: 90%; /* reduce width so that floats don't go beyond border */
  padding: 10px 10px;
}

ul.list a p{
  padding:  0px 0px; /* switch off so that floats are at the same height */
  margin: 0px 0px;
  font-size: small;
}

.list_right_info{
  float:right;
  width: 15%;
  text-align: right;
}

.list_main_entry{
    white-space: nowrap;
    width: 50%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}

.list_half_entry{
    white-space: nowrap;
    width: 40%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;    /* IE, Safari (WebKit), Opera >= 11, FF > 6 */
}

.list_half_entry_first{
  float:  left;
}

/* Colors for levels ***************************** */


.textblue{
    color:  #2098D4;
}

.textgray{
    color:  #3E4040;
}

.textwhite{
    color:  white;
}

.textblack{
    color:  black;
}

.textred{
    color:  red;
}

.textpink{
  color: #B40070;
}

.textorange{
    color:  darkorange;
}

.textyellow{
    color: yellowgreen;
}
.textgreen{
    color:  green;
}

/* FORM ***************************** */

/*#form-newword */



.labelWithMargin {
  margin-top: 2em;
  display: block;
}

fieldset {
  margin-top: 2em;
}

textarea {
  display: block;
  width: 96%;
  height: 6em; /* 6 rows */
  background-color: #2B292A;
  color: white;
}

[type="text"] {
    width: 30em;
}

[type="checkbox"] {
    margin-right:10px;
    margin-left:20px;
}

#theTags div{
  float: left;
}

#search {
  width: 95%;
  display: block;
  margin-bottom: 5px;
}

#form-login a{
  font-size: smaller;
  color: #B40070;
  text-decoration: none;
}

#form-login input{
  width: 300px;
}

#form-register input{
 width: 300px;
}
/* Quiz ***************************** */



.bubble{
    float: left;
    background: #F2F2F2;
    color: black;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    height: 16px;
    font-size: 10px;
    padding: 4px 5px 0px;
    text-shadow: none !important;
}

.bubble span{
    font-size: 6px;
}

#fword {
  width: 80%;
  text-align: center;
  color: white;
  background-color: #161616;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid black;
}

#nword {
  width: 80%;
  color: #B40070;
  text-align: center;
  background-color: #161616;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid black;
}

#comment {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5px;
  text-align: center;
  color:  #3E4040;
  font-size: smaller;
  font-style: italic;
  
}

#buttons {
  width: 100%;
  text-align: center;
  margin-top: 25px;
}

#buttons a {
  color: black;
  text-decoration: none;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

#buttons a[name="show"] {
  background:  #76084B;
}

#buttons a[name="read"] {
  background:  #76084B;
}

#buttons a[name="correct"] {
  background:  green;
}

#buttons a[name="wrong"] {
  background:  red;
}

#slevel{
  margin-top: 50px;
}

.furtherInfo {
  color:  #3E4040;
  font-size: smaller;
  font-style: italic;
}

#progress{
  width: 80%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
}

#progress div[name=bar]{
  width: 90%;
  height: 4px;
  background-color: black;
  float: left;

  background-image:
       linear-gradient(green,green),  /* 3 */
       linear-gradient(yellow,yellow), /* 2 */
       linear-gradient(orange,orange), /* 1 */
       linear-gradient(red,red),      /*  0 */
       linear-gradient(violet,violet), /* -1 */
       linear-gradient(black, black); /* start */
     background-size: /* width (cumulative) height, non used colors can stay at 0% */
       0% 100%,
       0% 100%,
       0% 100%,
       0% 100%,
       0% 100%,
       100% 100%;
     background-repeat:no-repeat;
}

#progress div[name=value]{
  font-size: x-small;
}

/* Statistics ***************************** */

.canvas{
  width: 300px;
  float: left;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .canvas{
      width: 100%;
    }

}


